@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Gilroy-bold';
  src: url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../fonts/Gilroy/Gilroy-Semibold.ttf') format('truetype');
}