.header {

  .header__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-end;
    background-image: url('../../img/background/bg.jpg');
    background-color: $primary;
    background-position: center;
    background-size: cover;


    @media (min-width: $bp_lg) {
      justify-content: center;
    }


    // header lang

    .header__lang {
      position: absolute;
      background-color: $primary;
      padding: 12px 8px;
      border-radius: 0px 9px 9px 0px;
      left: 0px;
      top: 26px;
      transition: .5s;


      &.open {
        left: -28px;
        transition: .5s;
      }


      @media (min-width: $bp_lg) {
        display: flex;
        justify-content: flex-end;
        background-color: unset;
        width: 100%;
        left: unset;
        right: 50px;
        transition: .5s;


        .ua-lang {
          display: none;
        }

        .ru-lang {
          display: none;
        }

        .en-lang {
          display: block;
        }


        &.open {
          left: unset;
          transition: .5s;

          .ua-lang {
            display: block;
          }
  
          .ru-lang {
            display: block;
          }
  
          .en-lang {
            display: block;
          }
        }
      }
    }

    .header__arrow--bold {
      position: absolute;
      top: 65px;
      left: 43px;
      transition: .5s;


      &.open {
        left: 11px;
        transition: .5s;
      }


      @media (min-width: $bp_lg) {
        display: none
      }

      .arrow {
        height: 13px;
        width: 13px;
        transform: rotate(180deg);
        transition: .5s;


        &.open {
          transform: rotate(120deg);
          transition: .5s;

        }
      }
    }

    .header__lang_list {
      text-align: center;
    }

    .header__lang_item {
      margin-bottom: 10px;


      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }

    .header__lang_link {
      font-size: 15px;
      color: $secondary;
      font-family: 'Gilroy-Regular';
      font-weight: 500;
      text-transform: uppercase;


      @media (min-width: $bp_lg) {
        font-size: 42px;
      }
    }

    // .header__arrow--bold {


    //   @media (min-width: $bp_lg) {
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     border-top: 6px solid $secondary;
    //     border-right: 6px solid $secondary;
    //     left: 420px;
    //     top: 50%;
    //     z-index: 1;
    //   }
    // }

    .header__arrow--desc {
      display: none;


      @media (min-width: $bp_lg) {
        display: block;
        position: absolute;
        left: 40px;
        top: 50%;
        z-index: 2;
        width: 20px;
        height: 20px;
        transition: .5s;


        &.open {
          left: 500px;
          transition: .5s;
        }
      }

      .arrow--desc {


        @media (min-width: $bp_lg) {
          pointer-events: all;
          transform: scale(3) rotate(0deg);
          width: 20px;
          height: 20px;
          transition: .5s;


          &.open {
            transform: scale(3) rotate(60deg);
            transition: .5s;
          }
        }
      }
    }


    // header logo

    .header__logo {
      display: flex;
      align-items: center;


      @media (min-width: $bp_lg) {}

      .logo {
        height: 95px;
        width: 86px;
        position: relative;
        margin-right: 12px;

        .logo-arrow-bottom {
          position: absolute;
          transform: scale(1);
          width: 40px;
          height: 45px;
          right: 0;
          bottom: -4px;


          @media (min-width: $bp_lg) {
            transform: scale(3);
            bottom: -52px;
            right: 70px;
          }



          .logo-bottom {
            fill: $secondary;
          }
        }

        .logo-arrow-left {
          position: absolute;
          transform: scale(1);
          width: 44px;
          height: 46px;
          left: 0;
          top: 26px;


          @media (min-width: $bp_lg) {
            transform: scale(3);
            left: -153px;
            top: 27px;
          }


          .logo-left {
            fill: $secondary;
          }
        }

        .logo-arrow-top {
          position: absolute;
          transform: scale(1);
          width: 40px;
          height: 45px;
          top: 0;
          right: 0;


          @media (min-width: $bp_lg) {
            transform: scale(3);
            top: -54px;
            right: 70px;

          }


          .logo-top {
            fill: $secondary;
          }
        }
      }



      & span {
        font-size: 32px;
        width: 120px;
        color: $secondary;
        font-family: 'Gilroy-Semibold';
        text-transform: uppercase;


        @media (min-width: $bp_lg) {
          font-size: 92px;
        }
      }
    }


    .header__line--horizontal {
      display: none;


      @media (min-width: $bp_lg) {
        display: block;
        position: absolute;
        width: 400px;
        height: 5px;
        background-color: $secondary;
        top: 50%;
        left: 20%;


        &.open {
          display: none;
          transition: .5s;
        }
      }
    }


    .header__nav {
      position: relative;
      padding-top: 100px;


      @media (min-width: $bp_lg) {
        background-color: rgb(0, 0, 0);
        padding: 150px 150px 0 50px;
        position: absolute;
        left: -565px;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .5s;


        &.open {
          left: 0px;
          transition: .5s;
        }
      }

      .header__list {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 81px;


        @media (min-width: $bp_lg) {
          align-items: flex-start;
        }
      }

      .header__item {
        margin-bottom: 12px;


        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
      }

      .header__link {
        font-family: 'Gilroy-Regular';
        font-size: 32px;
        color: $secondary;
        text-transform: uppercase;
        line-height: 38px;


        @media (min-width: $bp_lg) {
          font-size: 56px;
        }
      }

      .header__line--vertical {
        height: 32px;
        width: 2px;
        background-color: $secondary;
        margin-bottom: 11.5px;


        @media (min-width: $bp_lg) {
          display: none;
        }
      }

      // .header__horizontal_arrow {


      //   @media (min-width: $bp_lg) {
      //     width: 100%;
      //     height: 2px;
      //     background-color: $secondary;
      //   }
      // }

    }

    .contacts {
      display: none;


      @media (min-width: $bp_lg) {
        display: flex;
        margin-bottom: 40px;
        border-top: 2px solid $secondary;
      }

      .contacts_block {


        @media (min-width: $bp_lg) {
          padding-top: 100px;
        }
      }

      .contacts__title {
        @media (min-width: $bp_lg) {
          display: none;
        }
      }

      .contacts__list {}

      .contacts__item {


        @media (min-width: $bp_lg) {
          margin-bottom: 20px;


          &:nth-last-child(1) {
            margin-bottom: 0px;
          }
        }
      }

      .contacts__item-link {


        @media (min-width: $bp_lg) {
          font-family: 'Gilroy-Regular';
          letter-spacing: 2px;
          font-size: 24px;
          color: $secondary;
          width: 190px;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .header__arrow--thin {
      position: absolute;
      bottom: 27px;
      height: 20px;
      width: 20px;
      transform: rotate(135deg);
      border-top: 2px solid $secondary;
      border-right: 2px solid $secondary;

      & a {
        width: 20px;
        height: 20px;
      }


      @media (min-width: $bp_lg) {
        height: 30px;
        width: 30px;
        transform: rotate(135deg);
        border-top: 6px solid $secondary;
        border-right: 6px solid $secondary;
      }
    }
  }
}





//   @media (min-width: $bp_md) {}

//   @media (min-width: $bp_lg) {}

//   @media (min-width: 1280px) {}

//   @media (min-width: $bp_xxl) {}

//   @media (min-width: $bp_extra_large) {}